:root {
    --spacing-1: 1px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 16px;
    --spacing-5: 24px;
    --spacing-6: 32px;
    --avatar-width: 200px;
    --font-size-1: 8px;
    --font-size-2: 12px;
    --font-size-3: 14px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 30px;
    --background-header: #98B4D4;
    --background-body: #FAFAFA;
    --font-family: 'Ubuntu', sans-serif;
    --font-weight: bold;
    --text-color: #312f2f;
    --line-height: 1.5;
    --max-device-width: 600px;
}  

.heading-text {
    font-size: var(--font-size-6);
    word-break: keep-all;
    white-space: nowrap;
    word-wrap: unset;
    
    
}

.header {
    background: var(--background-header);
    height: 240px;
    width: 100%;
}

.container {
    max-width: 800px;
    min-width: 500px;
    margin: -67px auto 140px auto;
    display: flex;
    flex-direction: column;
}
.inner-container {
    padding: 0 var(--spacing-4);
}
.introduction {
    display: flex;
    flex-direction: row;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.description {
    word-break: break-word;
    text-align: justify;
}

.avatar-container {
    margin-right: var(--spacing-6);
    border-radius: calc(var(--avatar-width) / 2);
}

.avatar {
    width: var(--avatar-width);
    object-fit:cover;
    border-radius: calc(var(--avatar-width) / 2);
    border: var(--spacing-2) solid white;
}

body {
    min-width: fit-content;
    width: 100%;    
    padding: 0;
    margin: 0px;
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--background-body); 
}

a {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px dotted var(--text-color);
}

p {
    margin: 0;
}
ul.reset,
ul.reset li,
ul.reset ul li {
   margin: 0;
   list-style-type: square;
   line-height: var(--line-height);
}

.text {
    font-size: var(--font-size-3);
    line-height: var(--line-height);
}

.text-margin-top {
    margin-top: var(--spacing-4); 
}

@media only screen and (max-device-width: 600px) {
    .heading-text {
        margin-top: calc(-1 * var(--spacing-6));
        text-align: right;
        word-break: keep-all;
        white-space: nowrap;
        word-wrap: unset;
        font-weight: var(--font-weight);
    }
    .introduction {
        display: flex;
        flex-direction: column;
    }            
}